/*



nav ul li:after{
	margin: 0 1px;
}

a.menu-link {
	color: rgb(240, 228, 230);
	background-color: rgb(241, 181, 191);
	text-decoration: none;
	padding: 10px;
}
a.menu-link:hover {
	background-color: rgb(122, 56, 67);
} */

body {
	color: rgb(15, 112, 150);
	line-height: 1.5;
}

#content, nav {
	padding: 10px;
	margin: 5px auto;
	/* border: 1px solid rgb(248, 218, 192); */
}

h1 {
  color: purple;
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	line-height: 1;
}


nav ul, nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#loading {
  display: none;
}