.chat_app {
    overflow: hidden;
}

.people_list {
    @include transition(all 0.5s);
    width: 280px;
    background-color: var(--card-color) !important;

    @include media-breakpoint-down(md) {
        display: none;

        &.open {
            left: 0;
        }
    }

    .chat-list {
        li {
            margin: 10px 0px;
            width: 100%;
            border-right: 3px solid;
            border-color: transparent;

            &:hover {
                cursor: pointer;
            }

            &.active {
                border-color: var(--primary-color);
            }

            .status {
                .online {
                    color: $green;
                }
            }
        }
    }

    img {
        @include border-radius(50%);
        width: 40px;
        float: left;
    }
}

.chat {
    width: calc(100% - 280px);
    border-left: 1px solid var(--border-color);

    @include media-breakpoint-down(md) {
        width: 100%;
    }

    .chat-header {
        border-bottom: 2px solid var(--border-color);
        padding: 15px 20px;

        @include media-breakpoint-down(md) {
            width: 100%;
            border-radius: 0.55rem 0.55rem 0 0;
        }

        img {
            @include border-radius(40px);
            width: 40px;
        }
    }

    .chat-history {
        padding: 20px;
        border-bottom: 2px solid var(--border-color);
        min-height: 300px;

        @include media-breakpoint-down(md) {
            height: calc(100vh - 330px);
            overflow-x: auto;
        }

        .message-data {
            img {
                @include border-radius(40px);
                width: 40px;
            }
        }

        .message-data-time {
            color: var(--color-300);
            padding-right: 6px;
        }

        .message {
            @include border-radius(7px);
            color: var(--color-500);
            padding: 18px 20px;
            line-height: 26px;
            position: relative;

            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #fff;
                border-width: 10px;
                margin-left: -10px;
            }
        }

        .my-message {
            background-color: var(--body-color);

            &:after {
                bottom: 100%;
                left: 30px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: var(--body-color);
                border-width: 10px;
                margin-left: -10px;
            }
        }

        .other-message {
            background: var(--body-color);

            &:after {
                border-bottom-color: var(--body-color);
                left: 93%;
            }
        }
    }

    .chat-message {
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat_app {
        .chat-list {
            height: 650px;
            overflow-x: auto;
        }

        .chat-history {
            height: 600px;
            overflow-x: auto;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat_app {
        .chat-list {
            height: calc(100vh - 360px);
            overflow-x: auto;
        }

        .chat-history {
            height: calc(100vh - 350px);
            overflow-x: auto;
        }
    }
}