#toast-container {
    >div {
        opacity: 1;

        &:hover {
            box-shadow: none;
        }
    }

    .toast-close-button {
        opacity: 1;
        top: -11px;
        text-shadow: none;
        color: $col-white;

        &:hover,
        &:focus {
            opacity: 0.5;
        }
    }

    .toast-info {
        background-color: $color-info;

        .toast-close-button {
            color: rgba($color-info, 0.2);
        }
    }

    .toast-success {
        background-color: $color-success;

        .toast-close-button {
            color: rgba($color-success, 0.2);
        }
    }

    .toast-warning {
        background-color: $color-warning;

        .toast-close-button {
            color: rgba($color-warning, 0.2);
        }
    }

    .toast-error {
        background-color: $color-danger;

        .toast-close-button {
            color: rgba($color-danger, 0.2);
        }
    }

    .toast {
        margin-bottom: 0;

        a {
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $col-white;
            }
        }

        .toast-message {
            font-size: 14px;
            line-height: 1.4;
        }
    }
}