:root {
    --dark-color: #323a45;

    --color-fff: #ffffff;
    --color-100: #f0f0f0;
    --color-200: #eeeeee;
    --color-300: #e0e0e0;
    --color-400: #bdbdbd;
    --color-500: #555555;
    --color-600: #757575;
    --color-700: #616161;
    --color-800: #424242;
    --color-900: #212121;
    --color-000: #000000;

    --border-color: #f0f0f0;
    --card-color: #ffffff;
    --body-color: #f9fbfd;
    --white-color: #ffffff;
    --sidebar-color: #fcfcfc;

    --hc-font-color: #555555;
    --hc-bg-color: #f0f0f0;
    --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(0, 0, 0, 0.35));
}

[data-theme="dark"] {
    --dark-color: #323a45;

    --color-fff: #000000;
    --color-100: #212121;
    --color-200: #424242;
    --color-300: #616161;
    --color-400: #757575;
    --color-500: #8f8f8f;
    --color-600: #bdbdbd;
    --color-700: #e0e0e0;
    --color-800: #eeeeee;
    --color-900: #f0f0f0;
    --color-000: #ffffff;

    --border-color: #353535;
    --card-color: #1c222c;
    --body-color: #191f28;
    --white-color: #ffffff;
    --sidebar-color: #fcfcfc;

    --hc-font-color: #555555;
    --hc-bg-color: #f0f0f0;

    [class="theme-cyan"] {
        --primary-color: #00bdaa;
    }

    [class="theme-indigo"] {
        --border-color: #212020;
        --card-color: #101010;
        --body-color: #050505;
    }

    [class="theme-blue"] {
        --primary-color: #2e7bec;
        --border-color: #1a1f2d;
        --card-color: #10141f;
        --body-color: #080b13;
    }

    [class="theme-orange"] {
        --border-color: #312920;
        --card-color: #1c222c;
        --body-color: #191f28;
    }

    [class="theme-blush"] {
        --border-color: #242331;
        --card-color: #1a1925;
        --body-color: #15141f;
    }

    [class="theme-red"] {
        --primary-color: #f73e60;
        --border-color: #222335;
        --card-color: #161725;
        --body-color: #11121d;
    }
}

[data-theme="high-contrast"] {
    --dark-color: #323a45;

    --color-fff: #000000;
    --color-100: #000000;
    --color-200: #ffffff;
    --color-300: #ffffff;
    --color-400: #000000;
    --color-500: #ffffff;
    --color-600: #ffffff;
    --color-700: #ffffff;
    --color-800: #ffffff;
    --color-900: #ffffff;
    --color-000: #ffffff;

    --border-color: #262727;
    --card-color: #0e0e0e;
    --body-color: #000000;
    --white-color: #ffffff;
    --sidebar-color: #fcfcfc;

    --hc-font-color: #555555;
    --hc-bg-color: #f0f0f0;

    // some spacific class css in " high-contrast theme "
    .avatar.no-thumbnail {
        background-color: $dark;
    }

    .form-control {
        &::placeholder {
            color: var(--white-color);
        }
    }

    .modal {
        color: $dark;

        .card {
            border-color: var(--hc-bg-color);
            background-color: var(--white-color);
        }
    }
}

[class="theme-purple"] {
    --primary-color: #a27ce6;
    --secondary-color: #f1ff17;

    --primary-gradient: linear-gradient(45deg, #009abd, #a27ce6);
}

[class="theme-blue"] {
    --primary-color: #0078ff;
    --secondary-color: #d8d419;

    --primary-gradient: linear-gradient(45deg, #5a2ee2, #0078ff);
}

[class="theme-cyan"] {
    --primary-color: #2eacb3;
    --secondary-color: #ffd55d;

    --primary-gradient: linear-gradient(45deg, #45afaf, #2eacb3);
}

[class="theme-green"] {
    --primary-color: #28a745;
    --secondary-color: #fffb83;

    --primary-gradient: linear-gradient(45deg, #92d758, #28a745);
}

[class="theme-orange"] {
    --primary-color: #f68c1f;
    --secondary-color: #35d3fd;

    --primary-gradient: linear-gradient(45deg, #ce63ca, #f68c1f);
}

[class="theme-blush"] {
    --primary-color: #e84f5e;
    --secondary-color: #ffdd95;

    --primary-gradient: linear-gradient(45deg, #f5ae8a, #e84f5e);
}